* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 1920px;
    height: 945px;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(/assetes/img/car.jpg);
    margin: auto;
}

header nav {
    width: 1920px;
    height: 103px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-around;
}

header nav .carhut {
    width: 994px;
    height: 26px;
    font-size: 25px;
}

header nav .carhut a {
    color: white;
    text-decoration: none;
}

/* *=====header-menu */
header nav .header-menu {
    width: 480px;
    height: 45px;
    display: flex;
    align-items: center;
}

header nav .header-menu .home {
    display: none;
}

header nav .header-menu ul {
    width: 480px;
    height: 45 px;
    display: flex;
    justify-content: space-between;


}

header nav .header-menu ul li {
    list-style: none;
}

header nav .header-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* *=====header-actions */
header nav .header-actions {
    width: 233px;
    height: 47px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header nav .header-actions div {
    width: 81px;
    height: 27px;
    font-size: 17px;
}

header nav .header-actions div a {
    color: white;
    text-decoration: none;

}

header nav .header-actions button {
    width: 152px;
    height: 47px;
    border-radius: 46px;
    border: none;
}

header nav .header-actions button:hover {
    background-color: aqua;
    font-size: 20px;
    border-radius: 12px;
    transition: 1s;
}

/* *=========box========== */
header .box {
    width: 930px;
    height: 400px;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;

}

header .box h1 {
    font-size: 65px;
    font-weight: bold;
}

header .box .div {
    width: 930px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .box .div .all {
    width: 930px;
    height: 34px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

header .box .div .all p {
    border-bottom: 1px solid white;
    padding: 4px;
}

/* *new */
header .box .new {
    width: 850px;
    height: 75px;
    background-color: white;
    border-radius: 80px;
    color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* *any */
header .box .new .any {
    width: 164px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid gray;
    align-items: center;
}

header .box .new .any i {
    font-size: 10px;
}

/* *models */
header .box .new .models {
    width: 214px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid grey;
}

header .box .new .models i {
    font-size: 10px;
}

header .box .new .p1 {
    width: 75px;
    height: 27px;
    display: flex;
    align-items: center;
}

header .box .new .p2 {
    width: 154px;
    height: 36px;
    display: flex;
    align-items: center;
}

/* *button */
header .box .new button {
    width: 215px;
    height: 55px;
    background-color: #405FF2;
    border: none;
    border-radius: 60px;
    color: white;
    font-size: 18px;

}

/* *span */
header .box span {
    font-size: 15px;
}

/* *div2 */
header .box .div1 {
    width: 745px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

header .box .div1 .d1 {
    width: 122px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.4);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .box .div1 .d2 {
    width: 142px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.4);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .box .div1 .d3 {
    width: 174px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.4);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header .box .div1 .d4 {
    width: 144px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.4);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header .box .div1 .d5 {
    width: 144px;
    height: 44px;
    background-color: rgba(105, 99, 99, 0.4);
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* !==========main-1========= */
/* !========================= */
.main-1 {
    width: 1920px;
    height: 180px;
    background-color: white;
    transform: translateY(-70px);
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 700px;
    padding: 30px;
    margin: auto;
}

.main-1 h2 {
    font-size: 40px;
}

/* !==========main-2=========== */
/* !=========================== */
.main-2 {
    width: 1920px;
    height: 310px;
    transform: translateY(-60px);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main-2 .box1 {
    width: 1430px;
    height: 180px;
    display: flex;
    justify-content: space-between;
}

.main-2 .box1 div {
    width: 209px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 16px;
    box-shadow: 0px 1px 1px 1px #b3adad;

}

.main-2 .box1 div p {
    font-size: 25px;
}

.main-2 .box1 div img {
    width: 100px;
    height: 100px;
}

/* !=======.main-3========= */
/* !======================= */
.main-3 {
    width: 1920px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1200px;
    padding: 10px;
}

.main-3 h3 {
    font-size: 40px;
}

/* !=========main-4======= */
/* !====================== */
.main-4 {
    width: 1700px;
    height: 613px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-4 .box2 {
    width: 1400px;
    height: 40px;
    border-bottom: 1px solid gray;
    display: flex;
    gap: 30px;
    font-weight: 700;
}

.main-4 .box2 p {
    border-bottom: 2px solid #405FF2;
}

/* *car-list */
.main-4 .car-list {
    width: 1700px;
    height: 433px;
    display: flex;
    justify-content: space-between;
}

.main-4 .car-list .car-card {
    width: 328px;
    height: 433px;
    box-shadow: 0px 0px 3px 2px gray;
    border-radius: 16px;
}

/* *img */
.main-4 .car-list .car-card .img {
    width: 328px;
    height: 218px;
    background-image: url(/assetes/img/card.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 15px;
    display: flex;
    justify-content: space-between;

}

/* *img1 */
.main-4 .car-list .car-card .img1 {
    width: 328px;
    height: 218px;
    background-image: url(/assetes/img/card1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 15px;
    display: flex;
    justify-content: space-between;

}

/* *img2 */
.main-4 .car-list .car-card .img2 {
    width: 328px;
    height: 218px;
    background-image: url(/assetes/img/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 15px;
    display: flex;
    justify-content: space-between;

}

/* *img3 */
.main-4 .car-list .car-card .img3 {
    width: 328px;
    height: 218px;
    background-image: url(/assetes/img/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 15px;
    display: flex;
    justify-content: space-between;

}

.main-4 .car-list .car-card .img3 {
    width: 328px;
    height: 218px;
    background-image: url(/assetes/img/card3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 15px;
    display: flex;
    justify-content: space-between;

}

/* *img4 */
.main-4 .car-list .car-card .img4 {
    width: 328px;
    height: 218px;
    background-image: url(/assetes/img/card4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 15px;
    display: flex;
    justify-content: space-between;

}

.main-4 .car-list .car-card .img button,
.main-4 .car-list .car-card .img1 button,
.main-4 .car-list .car-card .img2 button,
.main-4 .car-list .car-card .img3 button,
.main-4 .car-list .car-card .img4 button {

    width: 104px;
    height: 29px;
    border: none;
    background-color: #3D923A;
    border-radius: 30px;
    color: white;
}

.main-4 .car-list .car-card .img i,
.main-4 .car-list .car-card .img1 i,
.main-4 .car-list .car-card .img2 i,
.main-4 .car-list .car-card .img3 i,
.main-4 .car-list .car-card .img4 i {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *car-footer */
.main-4 .car-list .car-card .car-footer {
    width: 327px;
    height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

}

/* *car1 */
.main-4 .car-list .car-card .car-footer .car1 {
    width: 266px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

}

.main-4 .car-list .car-card .car-footer .car1 p {
    font-weight: 800;
}

/* *car2 */
.main-4 .car-list .car-card .car-footer .car2 {
    width: 266px;
    height: 69px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-4 .car-list .car-card .car-footer .car2 div {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* *car3 */
.main-4 .car-list .car-card .car-footer .car3 {
    width: 266px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-4 .car-list .car-card .car-footer .car3 p {
    font-size: 25px;
    font-weight: 900;
}

.main-4 .car-list .car-card .car-footer .car3 span {
    color: #405FF2;
    font-size: 15px;
}

/* *button */
.main-4 .b1 {
    width: 60px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    font-size: 20px;
}